//.gitignore

/node_modules

.env

.vscode
.DS_Store
.idea

https://github.com/1Rendes/AquaTrack-Duna-back/pull/4
https://github.com/1Rendes/AquaTrack-Duna-back/pull/8
https://github.com/1Rendes/AquaTrack-Duna-front/pull/20
https://github.com/1Rendes/AquaTrack-Duna-back/pull/10
https://github.com/1Rendes/AquaTrack-Duna-front/pull/28
